﻿@model ScheduleTime.Models.OfficeTime
@{
    ViewBag.Title = "Create";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/css/anytimec.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/anytime.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/anytimez.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/create.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)    
    <h2>
        OfficeTime</h2>

    <div class="editor-label">
        @Html.HiddenFor(model => model.OfficeTimeId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.ActionTime)        
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ActionTime)
        @Html.ValidationMessageFor(model => model.ActionTime)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.Comment)        
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Comment, new { maxlength = "140"})
        @Html.ValidationMessageFor(model => model.Comment)
    </div>
        
    <div class="entradaCreate">
        @Html.RadioButtonFor(model => model.Enter, true, new { id = "entrada_true" })
        <label for="entrada_true">Entrada</label>
        
        @Html.RadioButtonFor(model => model.Enter, false, new { id = "entrada_false" })
        <label for="entrada_false">Salida</label>
        @Html.ValidationMessageFor(model => model.Enter)
    </div>
    <p>
        <input type="submit" value="Aceptar Edición" class="btn btn-large btn-primary" />
    </p>
}
<div>
    @Html.ActionLink("Volver a la lista...", "Time")
</div>