﻿@model IEnumerable<ScheduleTime.Models.content_image>

@{
    ViewBag.Title = "Gallery";
}


<link href="@Url.Content("~/Content/css/fotorama.css")" rel="stylesheet" type="text/css" />

<h2>Gallery</h2>
<div class="fotorama" data-width="1024" data-ratio="1024/768" data-max-width="100%">
    @foreach (var item in Model) {
        <img src="@Url.Content(item.FileRoute)" alt=""/>
    }
</div>

@*<div class="fotorama" data-nav="thumbs">
    @foreach (var item in Model)
    {
        <a href="@Url.Content(item.FileRoute)"><img src="@Url.Content(item.FileRoute)" alt=""/></a>
    }
</div>*@

@Html.ActionLink("Take me to the Home Page", "Index", "Home", null, new { @class = "btn btn-warning"})
@Html.ActionLink("Other Gallery", "MasonryGallery", "Home", null, new { @class = "btn btn-success" })

<script src="@Url.Content("~/Scripts/fotorama.js")" type="text/javascript"></script>