﻿@{
    ViewBag.Title = "Home Page";
}
<div class="timeContainer">
    <div class="span4 thumbnail">
        <h2>
            Estoy Entrando</h2>
        <p>
            Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
            Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus
            commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <p>
            <a id="in" class="btn btn-success" href="#">Entrando</a></p>
    </div>
    <div class="span4">
        <h2>
            Mi Día</h2>
        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
            commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p>
            <a class="btn btn-primary " href="@Url.Action("TiempoDiaActual")">Ver Resumen Del Día</a></p>
    </div>
    <div class="span4 thumbnail">
        <h2>
            Voy Saliendo</h2>
        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
            commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p>
            <a id="out" class="btn btn-danger" href="#">Saliendo</a></p>
    </div>
</div>
<div class="TeFaltoUnaHora">
    @Html.ActionLink("¿Te faltó ingresar una hora?", "Create")
</div>
<script src="@Url.Content("~/Scripts/index.js")" type="text/javascript"></script>
