﻿@model IEnumerable<ScheduleTime.Models.content_image>

<link href="@Url.Content("~/Content/css/customStyles.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.imagesloaded.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/masonry-min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/masonryGallery.js")" type="text/javascript"></script>

<div class="imagesContainerParent">
    <div id="imagescontainer" class="clearfix masonry">
        @foreach (var item in Model)
        {
            <div class="box photo col3 masonry-brick effectOnImage" style="width: 220px; margin: 20px 5px;
                float: left; height: 240px; text-align: center; position: absolute">
                <a href="@Url.Content(@item.FileRoute)" style="text-decoration:none" class="thumbnail">
                    <img style="width:200px !important; max-height:210px !important;"
                            src="@Url.Content(item.FileRoute)"
                            alt="item.FileRoute"/>
                    </a>
            </div>
        }
    </div>
</div>