﻿@model IEnumerable<SelectListItem>

@{
    ViewBag.Title = "PorMes";
}

<script src="@Url.Content("~/Scripts/porMes.js")" type="text/javascript"></script>

<h2>Selecciona el mes a mostrar</h2>
@Html.DropDownList("Meses", Model)

<div id="monthContainer" style="display:none">
</div>

