﻿@{
    ViewBag.Title = "Projects";
}

<script src="@Url.Content("~/Scripts/project.js")" type="text/javascript"></script>

<h2>Projects</h2>
<p>I don't know if this space is going to be filled up...</p>
<input id="exportToExcel" class="btn btn-primary" value="Exportar"/>
