﻿@model IEnumerable<ScheduleTime.Models.OfficeTime>
@{
    ViewBag.Title = "Tiempo Mes Actual";
}

<h2>
    Tiempo Efectivo - Mes Actual</h2>
<p>
    @Html.ActionLink("¿Te faltó ingresar una hora?", "Create")
</p>

@Html.Partial("_Mes", Model)


