﻿@model IEnumerable<ScheduleTime.Models.OfficeTime>
@{
    ViewBag.Title = "Tiempo Efectivo";
}
<script src="@Url.Content("~/Scripts/Time.js")" type="text/javascript"></script>
<h2>
    Tiempo Efectivo</h2>
<p>
    @Html.ActionLink("¿Te faltó ingresar una hora?", "Create")
</p>
@if (Model.Count() != 0)
{
    <table>
        <tr>
            <th>
                Comentario
            </th>
            <th>
                Fecha
            </th>
            <th>
                Entrada / Salida
            </th>
            <th>
                Tiempo Efectivo
            </th>
            <th>
                Tiempo Inválido
            </th>
            <th>
                Editar
            </th>
        </tr>
        @{
    int i = 0;
    int total = Model.Count();
    TimeSpan ts = new TimeSpan();
    foreach (var item in Model)
    {
        if (i > 0)
        {
            if ((Model.ElementAt(i - 1).ActionTime.Day - Model.ElementAt(i).ActionTime.Day) != 0)
            {
            <tr class="trTotalDiaDown">
                <td colspan="6">
                    <span class="totalDia">Total día @String.Format("{0:dddd}", Model.ElementAt(i - 1).ActionTime) es: </span>
                    <span class="horaPromedio" title="@ts.ToString(@"hh\:mm\:ss")">@ts.ToString(@"hh\:mm\:ss")</span>
                </td>
            </tr>
                ts = new TimeSpan();
            <tr>
                <td class="trAfterTotalDia">
                    <br />
                </td>
            </tr>
            }
        }    
            <tr>
                <td>
                    <div class="centrar" title="@item.Comment"><img src="@Url.Content("../Content/img/note32.png")" alt=""/></div>
                </td>
                <td>
                    @String.Format("{0:F}", item.ActionTime)
                </td>
                <td class="tdCenter">
                    @if (item.Enter)
                    {
                        <text>Entrada</text>
                    }
                    else
                    {
                        <text>Salida</text>
                    }
                </td>
                <td class="tdCenter">
                    @if ((!item.Enter) && (i > 0))
                    {
                        var time1 = Model.ElementAt(i - 1).ActionTime;
                        var time2 = Model.ElementAt(i).ActionTime;
                        var timeSpan = time2 - time1;
                        ts = timeSpan + ts;
                        <text>@timeSpan.ToString(@"hh\:mm\:ss")</text>                            
                    }
                </td>
                <td class="tdCenter">
                    <input class="btn btn-inverse btn-small" type="button" title="Presiona aquí para borrar esta fecha!" id="@item.OfficeTimeId" value="Borrar Fecha"/>
                </td>
                <td class="tdCenter">
                    @Html.ActionLink("Editar Fecha", "Edit", new { id = item.OfficeTimeId }, new { @Class = "btn btn-info btn-small", title = "Presiona aquí para editar esta fecha!" })
                </td>
            </tr>    
                    //Ultima iteracion y debo mostrar los resultados del dia    
                    if (total == (i + 1))
                    {
                        if ((Model.ElementAt(i).ActionTime.Day == DateTime.Now.Day))
                        {
                            TimeSpan tiempoALaborar = new TimeSpan(8, 0, 0);

                            var timeUltimaEntrada = Model.ElementAt(i).ActionTime;
                            var tiempoActual = DateTime.Now;
                            var tiempoAcumulado = tiempoActual - timeUltimaEntrada;
                            tiempoAcumulado = tiempoAcumulado + ts;

                            var tiempoPorLaborar = tiempoALaborar - tiempoAcumulado;

                            var tiempoIda = tiempoActual + tiempoPorLaborar;

                            if (DateTime.Now.Hour < 12)
                            {
                                tiempoIda = tiempoIda.AddHours(1);
                            }
                    
            <tr class="trTotalDiaUp">
                <td colspan="6">
                    <span class="totalDia">Tiempo de hoy que llevas acumulado:</span>
                    <span class="horaPromedio" title="@tiempoAcumulado.ToString(@"hh\:mm\:ss")">@tiempoAcumulado.ToString(@"hh\:mm\:ss")</span>
                </td>
                </tr>
            <tr class="trAfterTotalDia">
                <td colspan="6">
                    <span class="totalDia">Tiempo de hoy que te queda por laborar:</span>
                    <span title="@tiempoPorLaborar.ToString(@"hh\:mm\:ss")">@tiempoPorLaborar.ToString(@"hh\:mm\:ss")</span>
                </td>
            </tr>
            <tr class="trTotalDiaDown">
                <td colspan="6">
                    <span class="totalDia">Deberias irte a las:</span> @tiempoIda.ToString(@"hh\:mm\:ss")
                </td>
            </tr>
                        }
                        else
                        {
                            // si es un dia diferente al actual, debo mostrar el resumen
            <tr class="trTotalDiaDown">
                <td colspan="6">
                    <span class="totalDia">Total día @String.Format("{0:dddd}", Model.ElementAt(i - 1).ActionTime) es: </span>
                    <span class="horaPromedio" title="@ts.ToString(@"hh\:mm\:ss")">@ts.ToString(@"hh\:mm\:ss")</span>
                </td>
            </tr>
                            ts = new TimeSpan();
            <tr>
                <td class="trAfterTotalDia">
                    <br />
                </td>
            </tr>
                        }
                    }
                    i++;
    }
        }
    </table>
}
else
{ 
    <h4>
        No posee registros para mostrar</h4>
}
<div class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;</button>
        <h3>
            Borrar la fecha</h3>
    </div>
    <div class="modal-body">
        <p>
            ¿Estas seguro que seas borrar la fecha?</p>
    </div>
    <div class="modal-footer">
        <a href="#" data-dismiss="modal" aria-hidden="true" class="btn">No</a> @*@Html.ActionLink("Si", "Delete", new { id=2}, new { title = "Presiona aquí para borrar esta fecha!", @class = "btn btn-primary"})*@
    </div>
</div>
