﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/custom.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="masthead">
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <h3 class="muted">
                Schedule Time</h3>
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <ul class="nav">
                            <li>@Html.ActionLink("Home", "Index", "Home", null, new { @Class = "active" })</li>                            
                            <li class="dropdown">
                                <a href="#" id="drop2" role="button" class="dropdown-toggle"
                                data-toggle="dropdown">Tiempos<b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                                    <li>@Html.ActionLink("Día Actual", "TiempoDiaActual", "Home", null, new { tabindex = "-1"})</li>
                                    <li>@Html.ActionLink("Mes Actual", "TiempoMesActual", "Home", null, new { tabindex = "-1" })</li>
                                    <li>@Html.ActionLink("Por Mes", "PorMes", "Home", null, new { mes = string.Empty })</li>
                                    <li>@Html.ActionLink("Resumen Total", "Time", "Home", null, new { tabindex = "-1" })</li>
                                    <li class="divider"></li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Gallery", "Gallery", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Projects", "Projects", "Home")</li>
                            <li>@Html.ActionLink("Password", "ChangePassword", "Account")</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.navbar -->
        </div>
        <!-- Jumbotron -->
        @*<div class="jumbotron">
            <h1>
                Marketing stuff!</h1>
            <p class="lead">
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus
                ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
                amet risus.</p>
            <a class="btn btn-large btn-success" href="#">Get started today</a>
        </div>
        <hr>*@
        <!-- Example row of columns -->
        <div class="contenidoPrincipal">
            <div class="row-fluid">
                <section id="main">
                    @RenderBody()
                </section>
            </div>
        </div>
        <hr>
        <div class="footer">
            <p>
                © Company 2013</p>
        </div>
    </div>
</body>
</html>
