﻿@model IEnumerable<ScheduleTime.Models.OfficeTime>

<script src="@Url.Content("~/Scripts/TimeMonth.js")" type="text/javascript"></script>

@if (Model.Count() != 0)
{
    TimeSpan promedioMes = new TimeSpan();
    int j = 0;
    int totalAverage = Model.Count();
    List<TimeSpan> average = new List<TimeSpan>();
    
    foreach (var item in Model)
    {
        if (j > 0)
        {
            if ((Model.ElementAt(j - 1).ActionTime.Day - Model.ElementAt(j).ActionTime.Day) != 0) 
            {
                @*<span class="horaPromedio" title="@promedioMes.ToString(@"hh\:mm\:ss")">@promedioMes.ToString(@"hh\:mm\:ss")</span>*@
                average.Add(promedioMes);
                promedioMes = new TimeSpan();
            }

            if (!item.Enter)
            {
                var time1 = Model.ElementAt(j - 1).ActionTime;
                var time2 = Model.ElementAt(j).ActionTime;
                promedioMes = promedioMes + (time2 - time1);
            }
        }

        if (totalAverage == (j + 1))
        {
            average.Add(promedioMes);
        }
        j++;
    }

    promedioMes = new TimeSpan(Convert.ToInt64(average.Average(timeSpan => timeSpan.Ticks)));
    
    <p>
        <span class="totalDia">Promedio de horas laboradas en el presente mes: </span>
        <span class="horaPromedio" title="@promedioMes.ToString(@"hh\:mm\:ss")">@promedioMes.ToString(@"hh\:mm\:ss")</span>
    </p>
    
    <table>
        <tr>
            <th>
                Comentario
            </th>
            <th>
                Fecha
            </th>
            <th>
                Entrada / Salida
            </th>
            <th>
                Tiempo Efectivo
            </th>
            <th>
                Tiempo Inválido
            </th>
            <th>
                Editar
            </th>
        </tr>
        @{
    int i = 0;
    int total = Model.Count();
    TimeSpan ts = new TimeSpan();
    foreach (var item in Model)
    {
        if (i > 0)
        {
            if ((Model.ElementAt(i - 1).ActionTime.Day - Model.ElementAt(i).ActionTime.Day) != 0)
            {
            <tr class="trTotalDiaDown">
                <td colspan="6">
                    <span class="totalDia">Total día @String.Format("{0:dddd}", Model.ElementAt(i - 1).ActionTime) es: </span>
                    <span class="horaPromedio" title="@ts.ToString(@"hh\:mm\:ss")">@ts.ToString(@"hh\:mm\:ss")</span>
                </td>
            </tr>
                ts = new TimeSpan();
            <tr>
                <td class="trAfterTotalDia">
                    <br />
                </td>
            </tr>
            }
        }    
            <tr>
                <td>
                    <div class="centrar" title="@item.Comment"><img src="@Url.Content("../Content/img/note32.png")" alt=""/></div>
                </td>
                <td>
                    @String.Format("{0:F}", item.ActionTime)
                </td>
                <td class="tdCenter">
                    @if (item.Enter)
                    {
                        <text>Entrada</text>
                    }
                    else
                    {
                        <text>Salida</text>
                    }
                </td>
                <td class="tdCenter">
                    @if ((!item.Enter) && (i > 0))
                    {
                        var time1 = Model.ElementAt(i - 1).ActionTime;
                        var time2 = Model.ElementAt(i).ActionTime;
                        var timeSpan = time2 - time1;
                        ts = timeSpan + ts;
                        <text>@timeSpan.ToString(@"hh\:mm\:ss")</text>                            
                    }
                </td>
                <td class="tdCenter">
                    <input class="btn btn-inverse btn-small" type="button" title="Presiona aquí para borrar esta fecha!" id="@item.OfficeTimeId" value="Borrar Fecha"/>
                </td>
                <td class="tdCenter">
                    @Html.ActionLink("Editar Fecha", "Edit", new { id = item.OfficeTimeId }, new { @Class = "btn btn-info btn-small", title = "Presiona aquí para editar esta fecha!" })
                </td>
            </tr>        
                    /* solo es para escribir el ultimo valor */
                    if (total == (i + 1))
                    {
                        <tr class="trTotalDiaDown">
                <td colspan="6">
                    <span class="totalDia">Total día @String.Format("{0:dddd}", Model.ElementAt(i - 1).ActionTime) es: </span>
                    <span class="horaPromedio" title="@ts.ToString(@"hh\:mm\:ss")">@ts.ToString(@"hh\:mm\:ss")</span>
                </td>
            </tr>
                        ts = new TimeSpan();
            <tr>
                <td class="trAfterTotalDia">
                    <br />
                </td>
            </tr>
                    }
                    i++;
    }
        }
    </table>
}
else
{ 
    <h4>
        No posee registros para mostrar</h4>
}
<div class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;</button>
        <h3>
            Borrar la fecha</h3>
    </div>
    <div class="modal-body">
        <p>
            ¿Estas seguro que seas borrar la fecha?</p>
    </div>
    <div class="modal-footer">
        <a href="#" data-dismiss="modal" aria-hidden="true" class="btn">No</a> @*@Html.ActionLink("Si", "Delete", new { id=2}, new { title = "Presiona aquí para borrar esta fecha!", @class = "btn btn-primary"})*@
    </div>
</div>