﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>    
    Sorry, an error occurred while processing your request.
</h2>
<p>
    @Model.Exception
</p>
<p>
    @Model.ActionName
</p>
<p>
    @Model.ControllerName
</p>