﻿@model ScheduleTime.Models.OfficeTime

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>OfficeTime</legend>

    <div class="display-label">aspnet_Users</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.aspnet_Users.UserName)
    </div>

    <div class="display-label">TimeGoingOut</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeGoingOut)
    </div>

    <div class="display-label">TimeGettingIn</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeGettingIn)
    </div>

    <div class="display-label">ActionTime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActionTime)
    </div>

    <div class="display-label">Enter</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Enter)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
