﻿@model ScheduleTime.Models.OfficeTime

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>OfficeTime</legend>

        @Html.HiddenFor(model => model.OfficeTimeId)

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "aspnet_Users")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TimeGoingOut)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TimeGoingOut)
            @Html.ValidationMessageFor(model => model.TimeGoingOut)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TimeGettingIn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TimeGettingIn)
            @Html.ValidationMessageFor(model => model.TimeGettingIn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ActionTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ActionTime)
            @Html.ValidationMessageFor(model => model.ActionTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Enter)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Enter)
            @Html.ValidationMessageFor(model => model.Enter)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
