﻿@model IEnumerable<ScheduleTime.Models.OfficeTime>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            aspnet_Users
        </th>
        <th>
            TimeGoingOut
        </th>
        <th>
            TimeGettingIn
        </th>
        <th>
            ActionTime
        </th>
        <th>
            Enter
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.aspnet_Users.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeGoingOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeGettingIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActionTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Enter)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OfficeTimeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OfficeTimeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OfficeTimeId })
        </td>
    </tr>
}

</table>
