﻿body
{
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Custom container */
.container
{
    margin: 0 auto;
    max-width: 1000px;
}
.container > hr
{
    /*margin: 60px 0;*/
}

/* Main marketing message and sign up button */
.jumbotron
{
    margin: 80px 0;
    text-align: center;
}
.jumbotron h1
{
    font-size: 100px;
    line-height: 1;
}
.jumbotron .lead
{
    font-size: 24px;
    line-height: 1.25;
}
.jumbotron .btn
{
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing
{
    margin: 60px 0;
}
.marketing p + h4
{
    margin-top: 28px;
}


/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner
{
    padding: 0;
}
.navbar .nav
{
    margin: 0;
    display: table;
    width: 100%;
}
.navbar .nav li
{
    display: table-cell;
    width: 1%;
    float: none;
}
.navbar .nav li a
{
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,.75);
    border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a
{
    border-left: 0;
    border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a
{
    border-right: 0;
    border-radius: 0 3px 3px 0;
}







.navbar .nav > li > a:focus, .navbar .nav > li > a:hover
{
    background-color: rgba(204, 204, 204, 0.28);
}

.field-validation-error
{
    color: Red;
}

.validation-summary-errors
{
    color: Red;
}

.span4 > p:nth-child(3)
{
    text-align: right;
}

.thumbnail
{
    padding: 10px;
    box-shadow: 0 1px 3px rgba(51, 192, 247, 0.7);
    border: 1px solid rgb(51, 192, 247);
}

.thumbnail:hover
{
    box-shadow: 0 1px 12px rgba(51, 192, 247, 1);
    border: 1px solid rgb(51, 192, 247);
}

.row-fluid
{
    margin: 0 auto;
    min-height: 300px;
}

input[type="radio"], input[type="checkbox"]
{
    float: left;
    margin: 3px;
}

#logindisplay
{
    text-align: right;
}

.totalDia
{
    font-weight: bold;
}

.trTotalDiaDown
{
    background-color: white  !important;
    border-bottom: 1px solid rgb(232, 238, 241);
}

.trTotalDiaUp
{
    background-color: white !important;
    border-top: 1px solid rgb(232, 238, 241);
}

.trAfterTotalDia
{
    background-color: white !important;    
}

.tdCenter
{
    text-align: center;
}

table
{
    margin: 0 auto;
}

table th
{
    background-color: #DDD;
    border: 1px solid white;
    text-align: center;
    padding: 4px 8px;
}

tr:nth-child(even)
{
    background: rgb(232, 238, 241);
}

.timeContainer
{
    float: left;
    margin-top: 20px;
}

.entradaCreate
{
    padding: 30px 0;
}

.horaPromedio
{
    font-weight:bold;
    color: Red;
}

.TeFaltoUnaHora
{
    margin: 30px 0;
    float: left;
    font-size: 20px;
}

.centrar
{
	text-align: center;
}